@using MudServer.Pages.Layout.Components

<div id="main-container">
    <div class="top">
        <div class="top-left">
            <div class="sticky-header">
                <p class="sticky-header">Header SideBar</p>
            </div>
            <SideBar />
        </div>
        <div class="top-right">
            <div class="sticky-header">
                <p class="sticky-header">Header Content</p>
            </div>
            <Content />
        </div>
    </div>
    <div class="bot">
        <div class="bot-left">
            <div class="sticky-header">
                <p class="sticky-header">Header Bottom Left</p>
            </div>
            <BotPanelLeft />
        </div>
        <div class="bot-right">
            <div class="sticky-header">
                <p class="sticky-header">Header Bottom Right</p>
            </div>
            <BotPanelRight />
        </div>
    </div>

</div>

<style>
    #main-container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
        grid-gap: 0px 0px;
    }

    .sticky-header {
        position: sticky;
        top: 0;
        background-color: white
    }

    .top {

        grid-column: 1;
        grid-row: 1;
        overflow: auto;

        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
    }

    .top-left {
        grid-column: 1;
        grid-row: 1;
        overflow: auto;
    }

    .top-right {
        grid-column: 2;
        grid-row: 1;
        overflow: auto;
    }

    .bot {
        grid-column: 1;
        grid-row: 2;
        overflow: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .bot-left {
        grid-column: 1;
        grid-row: 1;
        overflow: auto;
    }

    .bot-right {
        grid-column: 2;
        grid-row: 1;
        overflow: auto;
    }
</style>