<div style="width: 100 %; height: 100%">
    <div style="background-color: gray;">
        @for (int i = 0; i < 100; i++)
        {
            <MudText Typo="Typo.h3" GutterBottom="true">Content</MudText>
        }

    </div>
</div>