<div style="width: 100 %; height: 100%">
    <div style=" background-color: teal; ">
        @for (int i = 0; i < 100; i++)
        {
            <MudText Typo="Typo.h3" GutterBottom="true">Sidebar</MudText>
        }

    </div>
</div>